<!DOCTYPE html>
<html>
<head>
    <title>Stride Project by Ashlesh Khajbage</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="loader-container" id="loaderContainer">
        <div class="loader"></div>
        <p class="loading-text" id="loadingText">We are generating profitable insights for your business...</p>
        <p class="loading-text" id="dataPreprocessingText" style="display: none;">Data preprocessing phase...</p>
        <p class="loading-text" id="machineLearningText" style="display: none;">Machine Learning Modeling...</p>
        <p class="loading-text" id="savingResultsText" style="display: none;">Saving results...</p>
        <p class="thanks-text" id="thanksText" style="display: none;">Thanks for trusting Ashlesh Khajbage :)</p>
    </div>
    

    <div class="container mt-5" id="mainContent">
        <div class="jumbotron text-center">
            <h1>Please upload stride data to analyze</h1>
            <form id="csvForm" action="{{ url_for('upload_csv') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="csv_file">Select the shipment data:</label>
                    <input type="file" class="form-control-file" name="csv_file" id="csv_file" accept=".csv" required>
                </div>
                <button type="submit" class="btn btn-primary" onclick="showLoader()">Upload csv</button>
            </form>
        </div>
    </div>

    <script>
        // Function to show the loader and hide the main content on form submission
        function showLoader() {
        const csvFileInput = document.getElementById('csv_file');
        if (csvFileInput.files.length === 0) {
            alert("Please select a CSV file before uploading.");
            return;
        }

        document.getElementById('mainContent').style.display = 'none';
        document.getElementById('loaderContainer').style.display = 'flex';
        showLoadingText();
    }
    
        // Array of loading text messages
        const loadingTexts = [
            "We are generating profitable insights for your business...",
            "Data preprocessing phase...",
            "Machine Learning Modeling...",
            "Saving results...",
            "Thanks for trusting Ashlesh Khajbage :)"
        ];
    
        let currentLoadingTextIndex = 0;
    
        // Show loading text messages alternately
        function showLoadingText() {
            document.getElementById('loadingText').textContent = loadingTexts[currentLoadingTextIndex];
            currentLoadingTextIndex = (currentLoadingTextIndex + 1) % loadingTexts.length;
            setTimeout(showLoadingText, 2000);
        }
    </script>
    

    <!-- JavaScript to hide the loader and show the main content once dashboard.html is loaded -->
    <script>
        window.onload = function() {
            document.getElementById('loaderContainer').style.display = 'none';
            document.getElementById('mainContent').style.display = 'block';
        };
    </script>
</body>
</html>
